.title-bar { 
  -fx-padding: 10px;
  -fx-background-color: darkgreen;
 }
 
 .title, .close-button { 
  -fx-font-family: Arial; 
  -fx-font-weight: 700; 
}
 
.title { 
  -fx-font-size: 18px; 
} 
 
.close-button { 
  -fx-font-size: 12px; 
  -fx-padding: 1px; 
} 
 
.close-button:hover { 
  -fx-border-color: white; 
  -fx-border-size: 1px; 
  -fx-border-style: solid; 
} 

.title-bar Label {
  -fx-text-fill: white;
}

.scroll-pane{
   -fx-background-color:transparent;
}
.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.button:hover{
	-fx-border-width: 5;
	-fx-border-color: rgb(255,255,255);
}

.button:pressed {
    -fx-text-fill: white;
}

.scroll-bar{
  -fx-background-color: transparent;
  }

.scroll-bar .thumb{
	-fx-color: rgb(107,249,255);
	-fx-background-radius: 0em;
}

.scroll-bar .decrement-arrow {
    -fx-padding:6;
    -fx-background-color: rgb(107,249,255);
 }
 
.scroll-bar .increment-arrow {
    -fx-padding:6;
    -fx-background-color: rgb(107,249,255);
}

.Upgrades{
	-fx-background-color: rgb(107,249,255);
}

.Hexagons{

	-fx-text-fill: transparent;
	-fx-shape: "M0 86.60254037844386L50 0L150 0L200 86.60254037844386L150 173.20508075688772L50 173.20508075688772Z";
}

.Hexagons:hover{
	-fx-border-width: 5;
	-fx-border-color: rgb(255,255,255);
}


.Cyan{
	-fx-background-color: rgb(107,249,255);
	-fx-text-fill: transparent;
}

.transparent{
	-fx-background-color: transparent;
}

.cutButton{
	-fx-shape: "M 0 0 L 0 150 L 100 250 L 500 250 L 500 0 L 0 0 ";	
}

.progress-bar > .bar {
    -fx-padding:0;
    -fx-background-radius:0;
    -fx-background-insets: 0;
    -fx-background-color: rgb(107,249,255);
}

.progress-bar > .track {
   -fx-background-color: white;
   -fx-background-radius:0;
   -fx-background-insets: 0, 1;

}

.data0.chart-pie { -fx-pie-color: turquoise; }
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; }
.chart-legend { -fx-background-color: white; }

